<!DOCTYPE html>
<html lang="es" es xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SGR API</title>
</head>
<body>

<div id="logo">
    <p ><img src="./img/logo.png" alt="Logo"></p>
    <h2><p >SGR Soft API</p></h2>
    <h2><p >Creadores:</p></h2>
    <h2><p th:text="${ultimoreg}"></p></h2>
    <div th:text="${#session.getAttribute('name')}">John Doe</div>
    <p>Ulises Fernandez</p>
    <p>Christopher Rodriguez</p>
</div>
</body>
</html>