<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Metricas Usuarios</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Panel de control Usuarios</title>
    <style>

    #cont{
        width: 80%;
        margin: auto;
    }
    </style>
    <script type="text/javascript" th:inline="javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
           data.addRows([[${mesesusuarios}]])

            // Set chart options
            var options = {'title':'Usuarios registrados por meses',
                'width':400,
                'height':300};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</script>
</head>
<body>
<div id="cont">
<div class="text-bg-primary fs-1 text-center">
    <h1>Panel de control</h1>
</div>
    <div class="card text-bg-secondary mx-1" style="max-width: 20%;float: left">
        <div class="card-header">Cantidad de Usuarios</div>
        <div class="card-body">
            <p class="card-text fs-1"  th:text="${cantidad}"></p>
        </div>
    </div>

    <div class="card text-bg-secondary mx-1" style="max-width: 20%;float: left;">
        <div class="card-header">Primer registro</div>
        <div class="card-body">
            <p class="card-text fs-1"  th:text="${primerreg}"></p>
        </div>
    </div>
    <div class="card text-bg-secondary mx-1" style="max-width: 20%;  float: left;">
        <div class="card-header">Último registo</div>
        <div class="card-body">
            <p class="card-text fs-1"  th:text="${ultimoreg}"></p>
        </div>
    </div>
    <div class="card text-bg-secondary mx-1" style="max-width: 20%;  float: left;">
        <div class="card-header">Listado de Usuarios</div>
        <div class="card-body">
            <ul class="list-group" th:each="usuario : ${usuarios}">
                <li class="list-group-item" th:text="${usuario.email}"></li>
            </ul>
        </div>
    </div>
    <div class="card text-bg-secondary mx-1" style="max-width: 50%;  float: left;">
    <div class="card-header">Grafica</div>
        <div id="chart_div"></div>


    </div>
</div>

</body>
</html>