<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Metricas Usuarios</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Panel de control Usuarios</title>
    <style>

    #cont{
        width: 80%;
        margin: auto;
        height: 100%;
        background-color: #ffffff;
    }
    #contgra{
        width: 39%;
        margin-left: 1%;
        float: left;
        height: 100%;
        background-color: #e0efcc;
    }
    #contmet{
       width: 60%;
       margin: auto;
       float: left;
       height: 100%;
       background-color: #b3d983;
    }
    body {
        background-color: #94cc4c;
    }
    </style>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
           data.addRows([[${mesesusuarios}]])

            // Set chart options
            var options = {'title':'',
                'width':400,
                'height':300};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_meses'));
            chart.draw(data, options);
        }
    </script>
</script>
</head>
<body>
<div id="cont">
    <div class="text-bg-secondary fs-1 text-center">
        <h1>Panel de control</h1>
    </div>
    <div id="contmet">
        <div class="card text-bg-secondary mx-1" style="max-width: 25%; height: 200px;float: left">
            <div class="card-header">Cantidad de Usuarios</div>
            <div class="card-body">
                <p class="card-text fs-1"  th:text="${cantidad}"></p>
            </div>
        </div>
        <div class="card text-bg-secondary mx-1" style="max-width: 25%; height: 200px; float: left;">
            <div class="card-header">Primer registro</div>
            <div class="card-body">
                <p class="card-text fs-3"  th:text="${primerreg}"></p>
            </div>
        </div>
        <div class="card text-bg-secondary mx-1" style="max-width: 25%;  height: 200px; float: left;">
            <div class="card-header">Último registo</div>
            <div class="card-body">
                <p class="card-text fs-3"  th:text="${ultimoreg}"></p>
            </div>
        </div>
        <div class="card text-bg-secondary mx-1 overflow-auto" style="max-width: 25%; height: 200px;  float: left;">
            <div class="card-header">Listado de Usuarios</div>
            <div class="card-body">
                <ul class="list-group" th:each="usuario : ${usuarios}">
                    <li class="list-group-item" th:text="${usuario.email}"></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="contgra">
        <div class="card text-bg-secondary mx-1" style="min-width: 100%;  float: left;">
            <div class="card-header">Usuarios registrados por mes</div>
            <div id="chart_meses"></div>
        </div>
    </div>
</div>
</body>
</html>